h1 {
    text-align: center;
    margin: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 900px;
    width: 900px;
    padding: 12px;
    background-color: antiquewhite;
    margin:auto;
    gap: 1px;
}

.initialdiv {
    background-color: black;
    height: 100px;
    width: 100px;
}

